# GWDG
GWDG_API_KEY=your_gwdg_or_university_key_here
GWDG_BASE_URL=your_gwdg_base_url_here
GWDG_DEFAULT_MODEL=gwdg.qwen3-30b-a3b-instruct-2507

# UPB AI Gateway
UPB_API_KEY=your_upb_key_here
UPB_BASE_URL=https://ai-gateway.uni-paderborn.de/v1
UPB_DEFAULT_MODEL=

# Personal OpenAI
OPENAI_PERSONAL_API_KEY=your_personal_openai_key_here
OPENAI_PERSONAL_DEFAULT_MODEL=gpt-4.1-mini
